#footer-row {
  background-color: #005B52;
  text-align: right;
  color: white;
  padding: 30px;
  padding-right: 70px;
  margin-top: 30px;
}

.row-align-flexend {
  justify-content: flex-end;
}

a {
  color: white;
}

.light-green-desc-text {
  color: #92bda3;
}
