.logo {
  height: 10rem;
  width: auto;
  background-color: white;
  margin: 0;
  padding: 1rem 1.5rem;
}

.navbar {
  background-color: #005b52;
  z-index: -1;
  padding: 0rem;
  color: white;
  font-family: "MS Gothic";
}

.navbar-brand {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-size: 3rem;
}

.nav-link:active, .nav-link:focus {
  color: white;
}

.nav {
  position: absolute;
  bottom: 0;
  right: 0;
}

.nav > .nav-item {

}

.nav:not(:last-child) > .nav-item {
  margin-right: 2rem;
}
