<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand"><img class="logo" src="../../../assets/images/myCargonaut_logo.png"></a>

  <button class="navbar-toggler" (click)="toggleNavbar()" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-large">
    <div class="nav" routerLinkActive="active">
      <div class="nav-item"><a class="nav-link" routerLink="home">HOME</a></div>
      <div *ngIf="!userLoggedIn" class="nav-item"><a class="nav-link" (click)="openLoginDialog()">LOGIN</a></div>
      <div *ngIf="!userLoggedIn" class="nav-item"><a class="nav-link" (click)="openLoginDialog(false)">REGISTRIEREN</a></div>
      <div *ngIf="userLoggedIn" class="nav-item"><a class="nav-link" routerLink="bookings">BUCHUNGEN</a></div>
      <div *ngIf="userLoggedIn" class="nav-item"><a class="nav-link" routerLink="register">PROFIL</a></div>
    </div>
  </div>

  <div class="navbar-small">
    <div class="collapse navbar-collapse show" [ngClass]="{ 'show': navbarOpen }">
      <div class="navbar-nav mr-auto">
        <div class="nav-item"><a class="nav-link" routerLink="home">HOME</a></div>
        <div *ngIf="!userLoggedIn" class="nav-item"><a class="nav-link" (click)="openLoginDialog()">LOGIN</a></div>
        <div *ngIf="!userLoggedIn" class="nav-item"><a class="nav-link" (click)="openLoginDialog(false)">REGISTRIEREN</a></div>
        <div *ngIf="userLoggedIn" class="nav-item"><a class="nav-link" routerLink="bookings">BUCHUNGEN</a></div>
        <div *ngIf="userLoggedIn" class="nav-item"><a class="nav-link" routerLink="register">PROFIL</a></div>
        <div *ngIf="userLoggedIn" class="nav-item"><a class="nav-link" routerLink="home" (click)="userLoggedIn=false">LOGOUT</a></div> <!-- TODO: userLoggedIn only if logout was successful + call logout service -->
      </div>
    </div>
  </div>
</nav>
