
.logo {
  height: auto;
  max-width: 350px;
  background-color: white;
  margin: 0;
  padding: 1rem 1.5rem;
}

.navbar {
  background-color: #005b52;
  padding: 0rem;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.navbar-brand {
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-right: 0;
}

.nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-size: 50px;
}

.nav-link:active, .nav-link:focus, .nav-link:hover {
  color: white;
}

.nav {
  position: absolute;
  bottom: 0;
  right: 0;
}

.navbar-toggler {
  margin: 0.8rem;
  margin-right: 2rem;
}


.nav:not(:last-child) > .nav-item {
  margin-right: 2rem;
}



@media (max-width: 1109px){

  @media(min-width: 768px){
    .nav-link {
      font-size: 30px;
    }
  }
}

@media (min-width: 850px) {
  .navbar-toggler {
    display: none;
  }

  .navbar-large {
    display: block;
  }

  .navbar-small {
    display: none;
  }
}

@media (max-width: 849px) {
  .navbar-toggler {
    display: block;
    margin-right: 1.5rem;
  }

  .navbar-large {
    display: none;
  }

  .nav-link {
    margin-left: 1rem;
    font-size: 30px;
    margin-right: 150px;
  }
}
