#addVehicleCancelBtn {
  margin-right: 1rem;
}

.form-button {
  padding: 10px;
  background-color: #005b52;
  border: none;
}
.form-button:hover {
  background-color: #0b9183;
}

#errorAddVehicle {
  color: red;
}
