<div mat-dialog-content>
<form [formGroup]="addVehicleForm" class="carForm" id="addVehicleForm-{{vehicle.id}}">
  <p id="errorAddVehicle"></p>
  <h4>Fahrzeugangaben</h4>
  <div class="row form-group">
    <div class="col-6">
      <label for="type">Typ</label>
      <select class="form-control" id="type" name="type" formControlName="type">
        <option ngValue="pkw">PKW</option>
        <option ngValue="lkw">LKW</option>
        <option ngValue="bus">Transporter</option>
        <option ngValue="plane">Flugzeug</option>
        <option ngValue="boat">Schiff</option>
      </select>
    </div>
    <div class="col-6">
      <label for="model">Model</label>
      <input id="model" type="text" formControlName="model" class="form-control"/>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-6">
      <label for="seats">Sitzanzahl (mit Fahrer)</label>
      <input id="seats" type="number" min=0 formControlName="seats" class="form-control"/>
    </div>
    <div class="col-6">
      <label for="comment">Kommentare</label>
      <input id="comment" type="text" formControlName="comment" class="form-control"/>
    </div>
  </div>

  <div *ngIf="addVehicleForm.controls.type.value !== 'pkw'" >
    <h4>Stauraum</h4>
    <div class="row form-group">
      <div class="col-6">
        <label for="length">Länge (in cm)</label>
        <input id="length" type="number" min=0 formControlName="length" class="form-control"/>
      </div>
      <div class="col-6">
        <label for="width">Breite (in cm)</label>
        <input id="width" type="number" min=0 formControlName="width" class="form-control"/>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-6">
        <label for="height">Höhe (in cm)</label>
        <input id="height" type="number" min=0 formControlName="height" class="form-control"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <button  class="btn btn-primary form-button" id= "addVehicleCancelBtn"  (click)="onCancel()">
      Abbrechen
    </button>
    <button  class="btn btn-primary form-button" id="addVehicleSubmitBtn"  (click)="onSubmit()">
      Bestätigen
    </button>
  </div>
</form>
</div>
