<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="row">
        <div class="col searchbar">
          <form>
            <div class="row">
              <div class="col-11">
                <input id="searchbar" type="text" placeholder="Search.." name="search">

              </div>
              <div class="col-1">
                <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-4 dropdown-col">
          <div ngbDropdown class="dropdown shadow">
            <button class="btn btn-primary" ngbDropdownToggle>{{this.startCity ? this.startCity : 'Stadt'}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem *ngFor="let city of cities" (click)="this.startCity = city">{{city}}</button>
            </div>
          </div>
        </div>
        <div class="col-4 dropdown-col">
          <div ngbDropdown class="dropdown shadow">
            <button class="btn btn-primary"
                    ngbDropdownToggle>{{this.currPostType ? this.currPostType : 'Angebotstyp' }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="this.currPostType = 'Angebot'">Angebot</button>
              <button ngbDropdownItem (click)="this.currPostType = 'Gesuch'">Gesuch</button>
            </div>
          </div>
        </div>
        <div class="col-4 dropdown-col">
          <div ngbDropdown class="dropdown shadow">
            <button class="btn btn-primary"
                    ngbDropdownToggle>{{this.currVehicle ? this.currVehicle : 'Fahrzeugtyp'}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem *ngFor="let vehicle of vehicles"
                      (click)="this.currVehicle = vehicle">{{vehicle}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <a (click)="showModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="80%" height="80%" fill="#005B52" class="bi bi-plus-circle-fill"
             viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
      </a>
    </div>
  </div>
</div>
<app-home-post *ngFor="let post of postArray" [post]="post"></app-home-post>



