<div class="post-column">
  <div class="post-top-row post-space-between">
    <div class="post-top-row">
      <!-- post type label -->
      <div *ngIf="post.type==='Angebot'">
        <p class="post-type-label post-angebot">Angebot</p>
      </div>
      <div *ngIf="post.type==='Gesuch'">
        <p class="post-type-label post-gesuch">Gesuch</p>
      </div>
      <!-- cargonaut name -->
      <div><p class="post-name-title">{{post.author.firstname}} {{post.author.lastname}}</p></div>
    </div>
    <div class="post-top-row">
      <!-- Buttons -->
      <div>
        <button class="post-button">
          M <!-- add message icon todo -->
        </button>
      </div>
      <div>
        <button class="post-button">buchen</button>
      </div>
    </div>
  </div>
  <div class="post-top-row">
    <div style="flex: 4; padding: 10px">
      <!-- main part -->
      <div class="post-column">
        <div class="post-top-row post-space-between">
          <!-- icons -->
          <div class="post-top-row">
            <div style="margin-right: 30px">
              <!-- cargonaut star rating -->
              <p class="post-value">* * * * *</p> <!-- todo -->
            </div>
            <div>
              <!-- payment method -->
              <p class="post-value">{{post.payment.type}}</p>
            </div>
          </div>
          <div class="post-top-row">
            <div style="text-align: right">
              <!-- Price -->
              <p class="post-value-price">{{post.price}} €</p>
              <p class="post-label">Preis</p>
            </div>
          </div>
        </div>
        <div class="post-top-row">
          <!-- text / comment -->
          <p class="post-comment-text">{{loremIpsum}}</p>
        </div>
      </div>
    </div>
    <div style="flex: 1; padding: 10px">
      <!-- right -->
      <div>
        <div style="text-align: right; color: gray;">
          <!-- Fahrzeugtyp -->
          <p class="post-large-grey-text">{{post.vehicle.type.type}}</p>
        </div>
        <div>
          <!-- Sitzplätze -->
          <p class="post-green-text">{{post.seats || 0}} Sitzplätze</p>
        </div>
        <div>
          <!-- Gepäckstücke -->
          <p class="post-green-text">{{post.vehicle.hold || 0}} Ladeplätze</p>
        </div>
        <div>
          <!-- Standort -->
          <p class="post-value">{{post.startlocation.city}}</p>
          <p class="post-label">Standort</p>
        </div>
        <div>
          <!-- Zielort -->
          <p class="post-value">{{post.endlocation.city}}</p>
          <p class="post-label">Zielort</p>
        </div>
      </div>
    </div>
  </div>
</div>
