<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="post-column">
  <div class="post-top-row post-space-between">
    <div class="post-top-row">
      <!-- post type label -->
      <div *ngIf="post.type==='Angebot'">
        <p class="post-type-label post-angebot">Angebot</p>
      </div>
      <div *ngIf="post.type==='Gesuch'">
        <p class="post-type-label post-gesuch">Gesuch</p>
      </div>
      <!-- cargonaut name -->
      <div><p class="post-name-title">{{post.author.firstname}} {{post.author.lastname}}</p></div>
    </div>
    <div class="post-top-row">
      <!-- Buttons -->
      <div>
        <button class="post-button">
          M <!-- add message icon todo -->
        </button>
      </div>
      <div>
        <button class="post-button">buchen</button>
      </div>
    </div>
  </div>
  <div class="post-top-row">
    <div style="flex: 4; padding: 10px">
      <!-- main part -->
      <div class="post-column">
        <div class="post-top-row post-space-between">
          <!-- icons -->
          <div class="post-top-row">
            <div style="margin-right: 30px">
              <!-- cargonaut star rating -->
              <app-star-rating></app-star-rating>
            </div>
            <div>
              <!-- payment method -->
              <p class="post-value">{{post.payment.type}}</p>
              <p class="post-label">Zahlungsart</p>
            </div>
          </div>
          <div class="post-top-row">
            <div style="text-align: right">
              <!-- Price -->
              <p class="post-value-price">{{post.price}} €</p>
              <p class="post-label">Preis</p>
            </div>
          </div>
        </div>
        <div class="post-top-row">
          <!-- text / comment -->
          <p class="post-comment-text">{{loremIpsum}}</p> <!-- todo use post comment -->
        </div>
      </div>
      <div class="post-top-row" style="margin-top: 150px">
        <!-- weitere Vorschläge (Label) -->
        <p class="post-label">Andere Kunden haben auch angesehen:</p>
      </div>
      <div class="post-top-row" style="justify-content: space-between">
        <!-- weitere Vorschläge (content) -->
        <div *ngFor="let relPost of relatedPosts">
          <app-post-display-card [relPost]="relPost"></app-post-display-card>
        </div>
      </div>
    </div>
    <div style="flex: 1; padding: 10px">
      <!-- right -->
      <div style="padding-left: 50px">
        <div style="margin-bottom: -100px">
          <mat-icon style="font-size: 180px; color: #005B52">directions_car</mat-icon>  <!-- todo dynamic icon -->
        </div>
        <div style="text-align: right;">
          <!-- Fahrzeugtyp -->
          <p class="post-large-grey-text">{{post.vehicle.type.type}}</p>
        </div>
        <div>
          <!-- Sitzplätze -->
          <p class="post-green-text post-right-align-narrow">{{post.seats || 0}} Sitzplätze</p>
        </div>
        <div>
          <!-- Gepäckstücke -->
          <p class="post-green-text post-right-align-narrow">{{post.vehicle.hold || 0}} Ladeplätze</p>
        </div>
        <div>
          <!-- Standort -->
          <div class="post-top-row post-space-between">
            <mat-icon style="margin-top: 20px; color: #005B52">location_on</mat-icon>
            <p class="post-green-text" style="font-size: 20px">{{post.startlocation.city}}</p>
          </div>
          <p class="post-value" style="font-size: 20px; margin-top: -20px; text-align: right">
            {{post.start_time.toLocaleDateString()}}, {{post.start_time.toLocaleTimeString()}}
          </p>
        </div>
        <div>
          <!-- Zielort -->
          <div class="post-top-row post-space-between">
            <mat-icon style="margin-top: 20px; color: #005B52">flag</mat-icon>
            <p class="post-green-text" style="font-size: 20px">{{post.endlocation.city}}</p>
          </div>
          <p class="post-value" style="font-size: 20px; margin-top: -20px; text-align: right">
            {{post.end_time.toLocaleDateString()}}, {{post.end_time.toLocaleTimeString()}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
