#booking-page {
  font-family: "Lato", sans-serif;
}

#booking-list-switch {
  display: flex;
  flex-direction: row;
}

.booking-label-selected {
  font-weight: bold;
}

#booking-placeholder {
  margin-left: 10px;
  margin-right: 10px;
}
