#booking-card {
  background-color: white;
  box-shadow: grey 2px 2px 4px;
  padding: 15px;
  padding-left: 15px;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
}

#next-step-booking:hover {
  cursor: pointer;
  align-self: center;
}

#booking-card:hover {
  box-shadow: grey 4px 4px 4px;
}

#booking-card-left {
}

#booking-cargonaut-name {
  font-size: 20px;
}

#booking-cargonaut-name:hover, #booking-cargonaut-name:focus {
  text-decoration: underline ;
  border: none;
}

#booking-status {
  font-size: 15px;
  color: #005b52;
}

#booking-card-right {
  padding: 15px;
}

#booking-card-right button {
  padding: 5px;
  margin-left: 10px;
  font-size: 20px;
  border: 0;
  background-color: #005b52;
  color: white;
}

#booking-card-right button:hover {
  background-color: #92bda3;
}

.mat-icon {
  vertical-align: middle;
}

#booking-row {
  width: 100%;
}

@media (max-width: 769px) {
  #booking-card-right {
    text-align: left;
  }
}

@media (min-width: 770px) {
  #booking-card-right {
    text-align: right;
  }
}

#status-btn {
  background-color: #005b52;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 2px;
}

#status-btn:hover {
  background-color: #92bda3;
}

.booking-type {
  margin: 0;
  border-radius: 25px;
  padding: 4px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: center;
  align-content: center;
}

.post-button {
  border-radius: 2px;
}
