<div id="booking-card">
  <div id="booking-card-left">
    <!-- cargonaut name -->
    <p (click)="goToProfile()" id="booking-cargonaut-name">{{booking?.author?.firstname}} {{booking?.author?.lastname}}</p>
    <!-- status -->
    <p id="booking-status">
      {{booking?.status === 2 ? 'abgeschlossen' : 'ausstehend'}}
    </p>
  </div>
  <div id="booking-card-right">
    <!-- add rating button -->
    <button *ngIf="commentSectionAvailable" (click)="toggleCommentSection()">Bewerten</button>

    <!-- message cargonaut -->
    <button style="align-content: center" (click)="contact()" class="post-button">
      <mat-icon>email</mat-icon>
    </button>
    <!-- view post -->
    <button routerLink="/post/{{booking?.id}}">Post ansehen</button>
  </div>
</div>
<div *ngIf="commentSectionVisible">
  <hr style="margin-top: 20px; margin-bottom: 20px">
  <app-add-rating [author]="currentUser" *ngIf="commentSectionVisible" [post]="booking" [postAuthorId]="authorId"></app-add-rating>
</div>
