<div class="row">
  <div class="col-sm-3 text-center ">
    <img class="img-responsive" [src]="picsrc">

    <button *ngIf="ownProfile == false; else elseOwnButton" id="contact-button" type="button">Kontaktieren</button>
    <ng-template #elseOwnButton>
      <button class="editButton" type="button" (click)="addVehicle()">Fahrzeug hinzufügen</button>
      <button class="editButton bot-row" type="button">Meine Nachrichten</button>
      <button class="editButton bot-row" type="button" id="picButton" (click)="editPic()">Profilbild ändern</button>

      <div id="edit-profile-pic">
        <input type='file' name="pic" id="pic" (change)="onSelectFile($event)">
        <label class="pick-pic form-button" for="pic">Datei wählen</label>
        <button class="bot-row form-button pick-pic" type="button" id="cancelPickPic" (click)="cancelPic()">Bestätigen
        </button>
      </div>

      <button class="editButton bot-row" type="button">Passwort ändern</button>
      <button class="editButton bot-row" type="button">Nutzer entfernen</button>
    </ng-template>
  </div>

  <div class="col-sm-9">
    <p class="error" id="profileErrorAdd"></p>
    <p class="error" id="profileErrorEdit"></p>
    <div class="row" id="user-info">
      <div class="col">
        <div *ngIf="ownProfile; else elseBlock">
          <div class="row row-no-margin ">
            <h3 class="editTitle">{{getUserName()}}</h3>
            <button type="button icon-button" class="btn" (click)="editProfile()">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
              </svg>
            </button>
          </div>
          <p class="margin-top"><span class="descriptor">Emailadresse: </span>{{user.email}}</p>
          <p><span class="descriptor">Geburtsdatum: </span>{{getBirthdayFormat()}}</p>
        </div>
        <ng-template #elseBlock>
          <h3>{{getUserName()}}</h3>
          <p class="margin-top">{{getBirthday()}}</p>
        </ng-template>
      </div>
    </div>

    <app-edit-profile id="editProfileForm" [user]="user" (submitCallback)="submitEditUser($event)"></app-edit-profile>

    <div *ngIf="ownProfile" class="row row-margin-top">
      <div class="col">
        <h3>Zahlungsinformationen</h3>
        <p class="margin-top"><span class="descriptor">Kontoinhaber: </span>{{user.account_holder}}</p>
        <p><span class="descriptor">IBAN: </span>{{user.iban}}</p>
        <p><span class="descriptor">BIC: </span>{{user.bic}}</p>
        <p>Wenn Sie etwas an Ihren Zahlungsinformationen ändern möchten, wenden Sie sich bitte mit einer Nachricht an <a href="mailto:mycargonaut@support.de">mycargonaut@support.de</a>.</p>
      </div>
    </div>

    <div class="row row-margin-top">
      <div class="col">
        <h3>Fahrzeuge</h3>
        <div *ngFor="let car of vehiclesUser; let i = index">
          <app-profile-vehicle [vehicle]="car" [ownProfile]="ownProfile" (submitCallback)="submitEditVehicle($event)"
                               (submitDeleteCallback)="submitDeleteVehicle($event)"></app-profile-vehicle>
          <hr>
        </div>
        <p *ngIf="vehiclesUser == null || vehiclesUser.length <= 0">
          Dieser Nutzer hat noch keine Fahrzeuge registriert.
        </p>
      </div>
    </div>

    <div class="row row-margin-top">
      <div class="col">
        <h3>Bewertungen</h3>
        <div *ngFor="let r of ratingsUser; let i = index">
          <app-profile-rating [rating]="r"></app-profile-rating>

        </div>
        <p *ngIf="ratingsUser == null || ratingsUser.length <= 0 ">
          Dieser Nutzer hat noch keine Bewertungen erhalten.
        </p>
      </div>
    </div>
  </div>
</div>




