
div {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#editProfileForm {
  display: none;
}

img {
  width: 100%;
}

#contact-button, .editButton {
  margin-top: 2rem;
  padding: 15px;
  background-color: #005b52;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
}

#contact-button:hover, .editButton:hover {
  background-color: #0b9183;
}

app-profile-vehicle {
  margin: 2rem 0;
}

.descriptor {
  font-weight: bold;
}

.bot-row {
  margin-top:0.5rem;
}

.row-no-margin {
  margin-left: 0;
}

.editTitle{
  margin-bottom: 0;
}

.icon-button {
  padding-bottom: 0;
}

.btn:focus {
  border: none;
}

.margin-top {
  margin-top: 0.5rem;
}

.row-margin-top {
  margin-top: 2rem;
}

#editProfileCancelBtn {
  margin-right: 1rem;
}

.form-button {
  background-color: #005b52;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.form-button:hover {
  background-color: #0b9183;
}


#pic {
  display:none;
}

.pick-pic {
  background-color: #005b52;
  border-radius: 10px;
  padding: 15px;
  color: white;
  min-width: 120px;
  margin-bottom: 0.5rem;
  margin: 4px;
}

.abort-pic {
  background-color: #828282;
  padding: 15px;
  border-radius: 10px;
  color: white;
  min-width: 120px;
  margin: 4px;
}

.pick-pic:hover {
  cursor: pointer;
  background-color: #0b9183;
}

#cancelPickPic {

}

#edit-profile-pic {
  display: none;
}

.error {
  color: red;
}


button a {
  color: white;
}

#picRow {
  margin-right: 0;
  margin-left: 0;
}

#resetPic {
  color: #005b52;
  background-color: white;
  border: 1px solid #005b52;
}

#resetPic:hover {
  background-color: #e5e5e5;
}
