<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="post-column">
  <div class="post-top-row post-space-between">
    <div class="post-top-row">
      <!-- post type label -->
      <div *ngIf="post?.type==='Angebot'">
        <p class="post-type-label post-angebot">Angebot</p>
      </div>
      <div *ngIf="post?.type==='Gesuch'">
        <p class="post-type-label post-gesuch">Gesuch</p>
      </div>
      <!-- cargonaut name -->
      <div (click)="goToProfile()"><p class="post-name-title">{{post?.author?.firstname}} {{post?.author?.lastname}}</p>
      </div>
    </div>
    <div class="post-top-row">
      <!-- Buttons -->
      <div>
        <button class="post-button" *ngIf="loggedInUserIsOwner && !editModeOn" (click)="toggleEditMode()" id="toggleEditButton">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="post-button" *ngIf="loggedInUserIsOwner && editModeOn" (click)="saveChanges()" id="saveEditButton">
          <mat-icon>save</mat-icon>
        </button>
        <button class="post-button" *ngIf="loggedInUserIsOwner && editModeOn" (click)="abort()" id="abortEditButton">
          <mat-icon>clear</mat-icon>
        </button>
        <button *ngIf="!loggedInUserIsOwner" (click)="contact()" class="post-button" id="contactAuthorButton">
          <mat-icon>email</mat-icon>
        </button>
      </div>
      <div>
        <button class="post-button" *ngIf="!loggedInUserIsOwner" (click)="addBooking()" id="addBookingButton">Buchen</button>
      </div>
    </div>
  </div>
  <!-- edit mode off -->
  <div *ngIf="!editModeOn">
    <div class="post-top-row">
      <div style="flex: 4; padding: 10px">
        <!-- main part -->
        <div class="post-column">
          <div class="post-top-row post-space-between">
            <!-- icons -->
            <div class="post-top-row">
              <div style="margin-right: 30px; margin-top: 20px">
                <!-- cargonaut star rating -->
                <app-star-rating [starCount]="averageUserRating" [showLabel]="true"></app-star-rating>
              </div>
              <div>
                <!-- payment method -->
                <div style="display: flex; flex-direction: row;">
                  <mat-icon style="align-self: center">payment</mat-icon>
                  <p class="post-value" style="padding-left: 10px;">{{post?.payment}}</p>
                </div>
                <p class="post-label">Zahlungsart</p>
              </div>
            </div>
            <div class="post-top-row">
              <div style="text-align: right">
                <!-- Price -->
                <p class="post-value-price">{{post?.price}} €</p>
                <p class="post-label">Preis</p>
              </div>
            </div>
          </div>
          <div class="post-top-row">
            <!-- text / comment -->
            <p
              class="post-comment-text">{{post?.description == 'no description' ? 'Keine Beschreibung vorhanden.' : post?.description}}</p>
          </div>
        </div>
        <div class="post-top-row" style="margin-top: 150px">
          <!-- weitere Vorschläge (Label) -->
          <p class="post-label">Andere Kunden haben auch angesehen:</p>
        </div>
        <div class="post-top-row" style="justify-content: space-between">
          <!-- weitere Vorschläge (content) -->
          <div *ngFor="let relPost of relatedPosts">
            <app-post-display-card [relPost]="relPost" style="width: 15%"></app-post-display-card>
          </div>
        </div>
      </div>
      <div style="flex: 1; padding: 10px">
        <!-- right -->
        <div style="padding-left: 50px">
          <div style="margin-bottom: -100px">
            <div *ngIf="post?.vehicleType == 'PKW'">
              <script>alert(yay)</script>
              <mat-icon style="font-size: 180px; color: #005B52" [inline]="true" class="car_icon"> directions_car
              </mat-icon>
            </div>
            <div *ngIf="post?.vehicleType == 'LKW'">
              <mat-icon style="font-size: 180px; color: #005B52" [inline]="true" class="car_icon">local_shipping
              </mat-icon>
            </div>
            <div *ngIf="post?.vehicleType == 'Transporter'">
              <mat-icon style="font-size: 180px; color: #005B52" [inline]="true" class="car_icon">directions_bus
              </mat-icon>
            </div>
            <div *ngIf="post?.vehicleType == 'Flugzeug'">
              <mat-icon style="font-size: 180px; color: #005B52" [inline]="true" class="car_icon">local_airport
              </mat-icon>
            </div>
            <div *ngIf="post?.vehicleType == 'Schiff'">
              <mat-icon style="font-size: 180px; color: #005B52" [inline]="true" class="car_icon">directions_boat
              </mat-icon>
            </div>
          </div>
          <div style="text-align: right;">
            <!-- Fahrzeugtyp -->
            <p class="post-large-grey-text">{{post?.vehicleType || 'n.A.'}}</p>
          </div>
          <div>
            <!-- Sitzplätze -->
            <p
              class="post-green-text post-right-align-narrow">{{post?.seats || 'Keine'}} {{post?.seats == 1 ? 'Sitzplatz' : 'Sitzplätze'}}</p>
          </div>
          <div>
            <!-- Gepäckstücke -->
            <p class="post-green-text post-right-align-narrow">{{post?.hold ? getSpace(post?.hold) + ' m³' : 'Kein'}} Laderaum</p>
            <p *ngIf="post?.hold" class="post-green-text post-right-align-narrow">{{post?.hold.length}}x{{post?.hold.width}}x{{post?.hold.height}} cm </p>
            <p *ngIf="post?.hold" class="post-green-text post-right-align-narrow">(LxBxH)</p>
          </div>
          <div>
            <!-- Standort -->
            <div class="post-top-row post-space-between">
              <mat-icon style="margin-top: 20px; color: #005B52">location_on</mat-icon>
              <p class="post-green-text" style="font-size: 20px">{{post?.startlocation}}</p>
            </div>
            <p class="post-value" style="font-size: 20px; margin-top: -20px; text-align: right">
              {{post?.start_time?.toLocaleString()}}
            </p>
          </div>
          <div>
            <!-- Zielort -->
            <div class="post-top-row post-space-between">
              <mat-icon style="margin-top: 20px; color: #005B52">flag</mat-icon>
              <p class="post-green-text" style="font-size: 20px">{{post?.endlocation}}</p>
            </div>
            <p class="post-value" style="font-size: 20px; margin-top: -20px; text-align: right">
              {{post?.end_time?.toLocaleString()}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- edit mode on -->
  <div *ngIf="editModeOn">
    <div class="post-edit">
      <label for="payment">
        Zahlungsart
      </label>
      <select id="payment" [(ngModel)]="updatedPost.payment" name="payment">
        <option *ngFor="let payment of supportedPaymentOptions" [value]="payment">{{payment}}</option>
      </select>
    </div>
    <div class="post-edit">
      <label for="price">
        Preis in €
      </label>
      <input id="price" type="number" [(ngModel)]="updatedPost.price" name="price" min="0"/>
    </div>
    <div *ngIf="post.type == 'Gesuch'" class="post-edit">
      <label for="vehicle-searching">
        Fahrzeugtyp
      </label>
      <select id="vehicle-searching" [(ngModel)]="updatedPost.vehicleType" name="vehicle">
        <option *ngFor="let vehicle of vehicles" [value]="vehicle">{{vehicle}}</option>
      </select>
    </div>
    <!--<div *ngIf="post.type == 'Angebot'" class="post-edit">
      <label for="vehicle-offer">
        Fahrzeug
      </label>
      <select id="vehicle-offer" [(ngModel)]="updatedPost.vehicle" name="vehicle"> <!- TODO: fix 'update vehicle', if wanted ->
        <option *ngFor="let vehicle of vehicles" value="{{vehicle}}">{{vehicle?.type?.description}}({{vehicle.type.type}})</option>
      </select>
    </div> -->
    <div class="post-edit">
      <label for="seats">
        freie Sitze
      </label>
      <input id="seats" type="number" [(ngModel)]="updatedPost.seats" name="seats" min="0"/>
    </div>
    <div class="post-edit">
      <label for="starttime">
        Startzeit
      </label>
      <div style="display: flex; flex-direction: row;">
        <label for="startdate"></label><input id="startdate" type="date" [(ngModel)]="startdate" name="startdate"/>
        <input id="starttime" type="time" [(ngModel)]="starttime" name="starttime"/>
      </div>
    </div>
    <div class="post-edit">
      <label for="endtime">
        Ankunftszeit
      </label>
      <div style="display: flex; flex-direction: row;">
        <label for="enddate"></label><input id="enddate" type="date" [(ngModel)]="enddate" name="enddate"/>
        <input id="endtime" type="time" [(ngModel)]="endtime" name="endtime"/>
      </div>
    </div>
    <div class="post-edit">
      <label for="description">
        Beschreibung
      </label>
      <div style="display: flex; flex-direction: row;">
        <textarea id="description" [(ngModel)]="updatedPost.description" name="description"></textarea>
      </div>
    </div>
  </div>
</div>
