/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.mat-dialog-container {
  background: #eeeeee;
  height: max-content;
}


body {
  margin-top: 0;
  margin-bottom: 0;
}
