#booking-page {
  background-color: #e5e5e5 ;
  padding: 30px;
  font-family: Calibri;
}

#booking-list-switch {
  display: flex;
  flex-direction: row;
}

.booking-label-selected {
  font-weight: bold;
}

#booking-placeholder {
  margin-left: 10px;
  margin-right: 10px;
}
